@import "../../sassStyles/global-imports";
@import "../../sassStyles/theme.scss";


// Overwrite search input style

$input-box-shadow: none;
$input-focus-box-shadow: none;

.form-control {
  color: $main-color;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $main-color;
  @include border-radius(0, 0);
  @include box-shadow($input-box-shadow);
  &:focus {
    color: $main-color;
    background-color: transparent;
    border-bottom: 1px solid $main-color;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }
  }
  &::placeholder {
    color: $main-color;
  }
}


$form-floating-transition: color .3s ease-in-out, transform .3s ease;
$form-floating-label-transform: scale(.65) translateY(-.7rem) translateX(.4rem);

.form-floating {
  > label {
    color: $main-color;
    @include transition($form-floating-transition);
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-control-plaintext,
  > .form-select {
    ~ label {
      color: $main-color;
      opacity: 1;
      transform: $form-floating-label-transform;
    }
  }
  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    ~ label {
      color: $main-color;
      opacity: 1;
      transform: $form-floating-label-transform;
    }
  }
}