@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
html {
  scrollbar-color: #1e3a8a #2563eb;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #1e3a8a;
}

html::-webkit-scrollbar-thumb:hover {
  background: #1e3a8a;
}

html::-webkit-scrollbar-track {
  background: #2563eb;
}

.bg-photo {
  min-height: 100vh;
  background: url(../../public/background.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
}

/* Change background and text color in autofill input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #275cad inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
}
