@import "./_variables.scss";


/* Scrollbar */
html {
    scrollbar-color: $hover-color $bg-color;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $hover-color;
    }

    &::-webkit-scrollbar-track {
        background: $bg-color;
    }
}