@import "./theme.scss";


// Custom font sizes
.fs-070 {
    font-size: .7rem;
  }
  
  .fs-080 {
    font-size: .8rem;
  }
  
  .fs-085 {
    font-size: .85rem;
  }
  
  .fs-090 {
    font-size: .9rem;
  }
  
  .fs-115 {
    font-size: 1.15rem;
  }
  
  
  // Custom width
  .w-10 {
    width: 10%;
  }
  
  .w-9r {
    width: 9rem;
  }

  .mw-4r {
    max-width: 4rem;
  }

  // Custom height

  .minh-10r {
    min-height: 10rem;
  }
  
// Shadow with breakpoint

.shadow-xl {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  @media (max-width: 1199px) {
    box-shadow: none;
  }
}


  // Rounded with breakpoint

.rounded-xl {
  border-radius: .375rem;
    @media (max-width: 1199px) {
      border-radius: 0;
    }
  }
 
  
  // Frame header
  .translate-y-150 {
      transform: translateY(1.5rem);
  }

.btn-hover {
    &:hover {
        color: $hover-color;
    }
    &:focus {
        box-shadow: none;
        color: $hover-color;
    }
}