@import "./theme.scss";


// Custom font sizes
.fs-070 {
    font-size: .7rem;
  }
  
  .fs-080 {
    font-size: .8rem;
  }
  
  .fs-085 {
    font-size: .85rem;
  }
  
  .fs-090 {
    font-size: .9rem;
  }
  
  .fs-115 {
    font-size: 1.15rem;
  }
  
  
  // Custom width
  .w-10 {
    width: 10%;
  }
  
  .w-9r {
    width: 9rem;
  }

  // Custom height

  .minh-9r {
    min-height: 9rem;
  }
  
 
  
  // Frame header
  .frame-header {
      display: block;
      transform: translateY(.4rem);
      margin-left: .75rem;
      width: fit-content;
      background-color: transparent;
      font-size: .7rem;
      font-weight: bold;
  }

.btn-hover {
    &:hover {
        color: $hover-color;
    }
    &:focus {
        box-shadow: none;
        color: $hover-color;
    }
}