// Reset btns focus style

#alertModal .btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

#alertModal .btn-outline-danger:focus {
    background-color: transparent;
    color: #dc3545;
}   